python-dotenv
ipykernel
langchain
langchain-groq
langchain-openai
langchain-classic
langchain-community
langchain-huggingface
sentence-transformers
torchvision
chromadb
faiss-cpu
wikipedia
youtube-transcript-api
streamlit